@font-face {
    font-family: 'Linux Libertine'; /* normal */
    src: url('/static/fonts/linux-libertine/LinLibertine_R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Libertine'; /* italic */
    src: url('/static/fonts/linux-libertine/LinLibertine_RI.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Linux Libertine'; /* bold */
    src: url('/static/fonts/linux-libertine/LinLibertine_RB.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Libertine'; /* bold */
    src: url('/static/fonts/linux-libertine/LinLibertine_RBI.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Mebinac';
    src: url('/static/fonts/mebinac/mebinac.otf') format('opentype');
}

body {
    font-family: 'Mebinac', 'Linux Libertine','Georgia','Times',serif;
    font-weight: 400;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1.4em;
  }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

#menu ul li,
toptranslations ul li {
    display: inline-block;
	margin-right: 0.6em;
}

pre code {
    font-family: monospace;
    display: block;
    overflow-x: auto;
}

footer {
    text-align: center;
}

#brand {
    margin: 0;
}

#blog-description {
    margin: 0;
}

a, a:visited { color: #004DCC; outline: 0; text-decoration: none;}

a:hover, a:focus { text-decoration: underline; }

.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
    margin-bottom: 32px;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.bbc-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
    margin-bottom: 32px;
}

.bbc-container iframe, .bbc-container object, .bbc-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border: 0;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
}

.entry-title {
    font-size: 2.2em; 
    font-weight: 400;
}

figure {
    margin-left: 0;
    margin-right: 0;
}

figcaption {
    font-size: 0.8em;
    text-align: center;
}

.section_break {
    border: none;
    border-bottom: 1px solid black;
    width: 50%;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

.section_break:after {
    background: #fff;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .poem {
        font-size: 0.8em;
        margin: 1em 0.5em;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    .poem {
        font-size: 0.8em;
        margin: 1em 0.5em;
    }
}

#menu label, #hamburger { display: none; }

@media screen and (max-width: 768px){
  /* (A) BREAK INTO VERTICAL MENU */
  #menuitems li {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 4px 0;
  }
 
  /* (B) SHOW HAMBURGER ICON */
  #menu label { 
    display: inline-block; 
    color: rgb(79, 81, 81);
    font-size: 2em;
    position: absolute;
    right: 32px;
    top: 32px;
  }

  /* (C) TOGGLE SHOW/HIDE MENU */
  #menuitems { display: none; }
  #menu input:checked ~ #menuitems { display: block; }
}
