@font-face {
    font-family: 'Linux Libertine'; /* normal */
    src: url('/static/fonts/linux-libertine/LinLibertine_R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Libertine'; /* italic */
    src: url('/static/fonts/linux-libertine/LinLibertine_RI.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Linux Libertine'; /* bold */
    src: url('/static/fonts/linux-libertine/LinLibertine_RB.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Libertine'; /* bold */
    src: url('/static/fonts/linux-libertine/LinLibertine_RBI.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'Linux Libertine','Georgia','Times',serif;
    font-weight: 400;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1.4em;
  }
}

#menu ul li,
toptranslations ul li {
    display: inline-block;
	margin-right: 0.6em;
}

pre code {
    font-family: monospace;
    display: block;
    overflow-x: auto;
}

footer {
    text-align: center;
}

#brand {
    margin: 0;
}

#blog-description {
    margin: 0;
}

a, a:visited { color: #004DCC; outline: 0; text-decoration: none;}

a:hover, a:focus { text-decoration: underline; }

.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
    margin-bottom: 32px;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

img {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
    max-width: 100%;
}

.entry-title {
    font-size: 2.2em; 
    font-weight: 600;
}
