footer {
    font-size: 10px;
    text-align: center;
}

footer img {
    vertical-align: middle;
}

code {
    font-family: monospace;
}

pre {
    font-family: monospace;
}

.right {
    float: right;
    margin-left: 8px;
    margin-bottom: 8px;
}

#lookslikeme {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

table {
    border: 1px solid #444;
    width: 80%;
    margin-bottom: 20px;
}

td {
    border-top: 1px solid #444;
}

td, th {
    padding: 4px;
    border-left: 1px solid black;
}

th {
    font-weight: bold;
    text-align: left;
    background: #ccc;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

/*
hResume Styles
*/

.hresume .title, .hresume .education .summary, .hresume .org {
    font-size: 16px;
}

.hresume .title, .hresume .education .summary {
    font-weight: bold;
}

.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
    margin-bottom: 32px;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.article img, p img, .container img {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
}

figcaption {
    font-size: 0.8em;
}
