<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>ntoll.org ~ everything I say is false...</title>
	<meta name="description" content="Homepage of Nicholas H.Tollervey">
	<meta name="author" content="Nicholas H.Tollervey">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="/static/css/base.css">
	<link rel="stylesheet" href="/static/css/skeleton.css">
	<link rel="stylesheet" href="/static/css/layout.css">
	<link rel="stylesheet" href="/static/css/default.css">
	<link rel="stylesheet" href="/static/css/ntoll.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="/static/images/favicon.ico">
	<link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png">
    <link rel="alternate" type="application/rss+xml" href="http://ntoll.org/rss.xml" title="ntoll.org ~ everything I say is false">
</head>
<body>
	<div class="container">
        {% block header%}
		<div class="sixteen columns">
			<h1 class="remove-bottom" style="margin-top: 40px">ntoll.org</h1>
			<h5>(Everything I say is false...)</h5>
            <a href="/">home</a> |
            <a href="/about/">about</a> |
            <a href="/articles/">articles</a> |
            <a href="/presentations/">presentations</a> |
            <a href="/cv/">cv</a> |
            <a href="/contact/">contact</a>
			<hr />
		</div>
        {% endblock %}

		<div class="sixteen columns">
            {% block content %}
            {% endblock %}
		</div>

        {% block footer %}
        <footer class="sixteen columns">
            <hr/>
                &copy; 2002-2020
                <a xmlns:cc="http://creativecommons.org/ns#" href="http://ntoll.org" property="cc:attributionName" rel="cc:attributionURL">Nicholas H.Tollervey</a>
                <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">ntoll.org</span>
                is licensed under a
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_GB">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
                <a href="http://ntoll.org/rss.xml">RSS</a>
        </footer>
        {% endblock %}
	</div><!-- container -->

<!-- End Document ================================================== -->
<!-- Javascript =================================================== -->
<script src="/static/js/highlight.js"></script>
<script>
hljs.initHighlightingOnLoad();
</script>
</body>
</html>
