{% extends "base.html" %}
{% block content %}
<h1>20 Years</h1>
<p class="published_on">Wednesday 2nd August 2017 (9:00am)</p>

<p>Today is our 20th wedding anniversary. Such an auspicious occasion deserves
celebrating.</p>

<p><img src="/static/images/wedding.jpg" alt="Our wedding day."/></p>

<p>Mary and I face the world together: we laugh with each other, we trust each
other and we rely on each other. It is a great source of strength and comfort
that the person I love most in the world thinks of me as the person they love
most in the world. It's a virtuous circle of mutual love, support, friendship
and affection. Since this is something only Mary and I share with each other,
it makes it all the more precious.</p>

<p>Yet we find ourselves in a wonderful situation. Our bonds strengthen over
time as our shared experience grows ~ for example, as parents bringing up our
three children to be confident, independent and flourishing individuals.</p>

<p>How did this begin?</p>

<p>I first met Mary in the Donaldson Room in the library of the
<a href="http://rcm.ac.uk/">Royal College of Music</a>. By chance, we were sat
at the same table. I was with a buddy and she was with her friend, Ellen. They
were playing "hangman" and instead of calling out the vowels to get the shape
of the word to be guessed, Mary would say things like "X", "Q" or "W".</p>

<p>"You have absolutely no idea how to play hangman, do you?", I
interrupted.</p>

<p>"Oh yes I do... I'm just playing it this way for fun."</p>

<p>Three hours later our friends had left us as we talked the afternoon away
discussing science, philosophy and music. At the end Mary said, "I'm very
sorry, but I'm late for a rehearsal. I'd much rather talk to you... what's your
name?"</p>

<p>I'd never met anyone like her. That was it. In that moment. She was the
one.</p>

<p>We were very fortunate to meet and marry at a young age. Consequently, it's
likely that we have 40 years or more of marriage ahead of us.</p>

<p>So, here's to facing the future together and long may it last.</p>

<p>(In case you were wondering, we've agreed to hold a big party for all our
friends and family on the occasion of our 25th anniversary: 2nd August,
2022.)</p>

{% endblock %}
