{% extends "base.html" %}
{% block content %}
<h1>Autonomy</h1>
<p class="published_on">Wednesday 13th November 2013 (3:00PM)</p>

<p>I tend to bang on about autonomy. It's important to me personally (I like
to think I have autonomy) and also politically (I think it important that
everyone should enjoy autonomy). In this rather philosophical post I intend to
explore what autonomy is.</p>

<p></p>

<p><small>Image credits:
FIG 1. &copy; 2011 <a href="https://secure.flickr.com/photos/opensourceway/6554315093/">Opensourceway</a> (under a <a href="http://creativecommons.org/licenses/by-sa/2.0/deed.en_GB">creative commons</a> license).
Encyclopedia Britannica &copy; 2010 <a href="https://secure.flickr.com/photos/bostontx/4461314652/">BostonTx</a> (under a <a href="https://creativecommons.org/licenses/by-nc/2.0/deed.en_GB">creative commons</a> license).
Aardvark &copy; 2012 <a href="https://secure.flickr.com/photos/ucumari/7076368057/">Valerie</a> (under a <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/deed.en_GB">creative commons</a> license).
Seating Plan &copy; 2010 <a href="https://secure.flickr.com/photos/boston_public_library/5352241407">Boston Public Library</a> (under a <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/deed.en_GB">creative commons</a> license).
Salt pot &copy; 2010 <a href="https://secure.flickr.com/photos/avlxyz/5150528445">Alpha</a> (under a <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/deed.en_GB">creative commons</a> license).
Lisp Warning created by <a href="http://lisperati.com/logo.html">Conrad Barski, M.D.</a> and released to the public domain.
</small></p>
{% endblock %}
