{% extends "base.html" %}
{% block content %}
<h1>Concise and Simple</h1>
<p class="published_on">Monday 3rd December 2012 (08:30AM)</p>

<a href="http://www.flickr.com/photos/toomuchdew/5496442190/"><img src="/static/images/lego.jpg" alt="lego instructions"/></a>

<p>Over the coming weeks I will publish a set of articles that are part of a
series called "concise and simple". Each article will be about an area of
computing that interests me but will be no longer that 1500 words nor assume
previous knowledge of the subject under scrutiny.</p>

<p>I have two aims:</p>

<ol>
    <li>To create resources that may be useful for others.</li>
    <li>To explain in a simple yet engaging style the essence of a highly
    technical subject.</li>
</ol>

<p>The first aim is an act of community service, the second is a personal
challenge.</p>

<p>I hope to publish the first article in the next few days: "The Internet ~
Concise and Simple".</p>

<small>Image credit: &copy 2011 <a href="http://www.flickr.com/photos/toomuchdew/5496442190/">Bill Toenjes</a> under a Creative Commons license.</small>

{% endblock %}
