{% extends "base.html" %}
{% block content %}
<h1>What is music?</h1>
<p class="published_on">Friday 4th April (8:00AM)</p>

<iframe src="//player.vimeo.com/video/54763818?badge=0" width="712" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><small><a href="http://vimeo.com/54763818">Understand Music</a> from <a href="http://vimeo.com/finallystudio">finally.</a> on <a href="https://vimeo.com">Vimeo</a>.</small></p>

<p>Everyone has
different, very personal reactions to music and, as the video suggests, you
don't need to understand music to know that you like it. What may seem like a
heavenly performance to one person is a turgid noise to another. The voice of
a certain singer may bring tears to the eyes for very different and
contrasting reasons. Attending a concert may be a semi-religious experience
for some, yet is an excuse for others to see and be seen.</p>

<p>So, "what is music?" appears to be an impossible question to answer.</p>

<p>Even generalisations don't work. For example, we may assert that music is
just a particular sort of sound; but then we'd need to explain
<a href="https://en.wikipedia.org/wiki/Ludwig_van_Beethoven">Beethoven</a>'s
composition technique. His deafness forced him to compose his later works
solely in his head - no actual sound was involved in the process despite it
being fundamentally musical.</p>

<p>In fact, some musicians disagree with the sentiment that "music" is in some
way a sub-set of "sound". Take the renegade American composer
<a href="https://en.wikipedia.org/wiki/Charles_Ives">Charles Ives</a> who
famously asked,</p>

<blockquote>What has sound got to do with music!?
</blockquote>

<p>His point being that music is in some way the underlying "spirit" of the
composer and (especially) the performer expressed through sound rather than
the sound itself.</p>

<p>So, instead of attempting to answer an impossible questions I'll focus
my efforts elsewhere are explore the elements and concepts that are commonly
used to describe music. Naming and explaining such things is less contentious
and provides a shared vocabulary for discussing music.</p>

<p>We start by identifying who is involved in music.</p>

<h2>Listening, Performing and Composing</h2>

<p>Music is usually experienced in three different ways:</p>

<ul>
    <li>Listening to music (hearing a performance or recording)</li>
    <li> Performing music (making a composition into sound)</li>
    <li>Creating music (composing or improvising)</li>
</ul>

<p>(Actually, there is a fourth way: hearing music with your inner ear [you
hear it in your head in a similar way to silent reading]. We won't be dealing
with this sort of musical experience in this article.)</p>

<p>There is overlap between these three experiences: improvisation is both
composing and performing music in the heat of the moment and performing in a
group involves a huge amount of listening and reacting to the other members (a
musician's so-called "sense of ensemble"). In contrast, some musical
experiences fall exclusively within one realm: does a performance of
<a href="https://en.wikipedia.org/wiki/John_Cage">John Cage</a>'s
<a href="https://en.wikipedia.org/wiki/4%E2%80%B233%E2%80%B3">4'33"</a> have
a performer or composer (even though both would be listed on the concert
programme)? It would certainly have at least one listener, the alleged
"performer".</p>

<p>We're all listeners because of our capacity to hear sounds that we discern
to be music. This is an important point: listening to music is not a passive
experience with you as the mere recipient of sound. It requires your
engagement so that you discern that the music is doing such and such a thing.
This may be simply having just an appreciation of the pulse of the music (you
"feel" the rhythm in exactly the same way you know when to move your body when
dancing to music). Nevertheless, there are countless examples of music that is
heard but not listened to,
<a href="https://en.wikipedia.org/wiki/Elevator_music">Muzak</a> being a case
in point, and we're happy to filter it out of our attention and direct our
minds elsewhere.</p>

<p>All performers listen. They also use their bodies, instruments or other
equipment to make sound. Often, the sounds they make are pre-ordained because
they're performing a piece that is already composed. On other occasions
they're making up sounds as they go along but, crucially, such sounds still
fit into a pre-ordained structures: they're playing in a particular key or to
a certain set of pre-arranged harmonies (such as the instantly recognisable
<a href="https://en.wikipedia.org/wiki/12_bar_blues">12 bar blues</a>). In
any case, the performer needs to listen to what they're doing (and who they're
doing it with, remember that sense of ensemble?) to ensure the resulting
sounds meet their expectations.</p>

<p>Deaf musicians who canot hear the sounds being made are, in some sense,
still listening to the music. They literally feel the vibrations caused by the
sounds. The percussionist
<a href="https://en.wikipedia.org/wiki/Evelyn_Glennie">Evelyn Glennie</a>
plays barefoot for this very reason.</p>

<p>No matter how one "listens", all performers are involved in a tight
feedback loop that involves making sounds, listening, evaluating and adapting
as required at the moment of performance.</p>

<p>Performing also requires enough skill to make the performance any good.
Anyone who has heard a performance given by a class of recorder playing
five-year-olds will intuitively understand this. If only
<a href="https://en.wikipedia.org/wiki/Johann_Sebastian_Bach">Johann Sebastian
Bach</a> was right when he quipped,</p>

<blockquote>It's easy to play any musical instrument: all you have to do is
touch the right key at the right time and the instrument will play itself.
</blockquote>

<p>Becoming a good performer requires deliberate practice and enough
confidence to know that you can "pull off" a performance. My tuba professor
at the <a href="http://rcm.ac.uk/">Royal College of Music</a>, the late
<a href="http://andrewhugill.com/manuals/tuba/index.html">John Jenkins</a>,
explained that a performer needed to be self-confident almost to the
point of arrogance.</p>

<p>Performers create music, but so do composers in a very different sense.
It's hard to describe what the mysterious activity of composition entails, but
it certainly contains an understanding of performance (how else is a composer
to know what works in their chosen musical medium?) and excellent listening
skills to evaluate the music they produce. It also involves a sense of style.
New types of music don't just spring out of nowhere. Often they're an
evolution of existing styles (for example,
<a href="https://en.wikipedia.org/wiki/Ragtime">Ragtime</a>,
<a href="https://en.wikipedia.org/wiki/Blues">Blues</a> and other musical
styles evolved into <a href="https://en.wikipedia.org/wiki/Jazz">Jazz</a>),
or a combination of different traditions
(<a href="https://en.wikipedia.org/wiki/Bhangra_%28music%29">Bhangra</a> is
a mix of Punjabi and Western popular music). In any case, being able to pin
down the specifics of what makes a certain musical style identifiable is a
vague business: there are always exceptions to the rule and the rules are
often wrong in the first place. Yet those who compose appear to
appreciate such stylistic concerns (at the risk of producing something
incomprehensible).</p>

<p>Composing ultimately involves an understanding of the nuts and bolts of
music: the various building blocks that come together to make a piece. But
what might these building blocks be?</p>

<h2>Elements of Music</h2>

<p>If I were asked to name the most important building blocks of music my list
would be: pitch, rhythm, melody, harmony, dynamics, timbre, expression and
form. Since this is <em>my</em> my list of musical elements many will claim it
is wrong or incomplete. In any case, it's a useful starting point and I'll
describe each element in turn.</p>

<p>When I think about pitch I'm concentrating on the frequency of a specific
note. This allows me to describe how high or low it sounds (in comparison with
other notes). A note is higher in pitch compared to another if its frequency
is higher than the other note. There is an international standard for pitch
that sets the note "A" (in the middle of the Piano's keyboard) at
<a href="https://en.wikipedia.org/wiki/A440_%28pitch_standard%29">440</a>
cycles a second. Different pitches are related to each other through
mathematical relationships: if you double a note's frequency you get the same
note but an octave higher - other pitches can be derived via other ratios.
Unfortunately, such relationships produce notes that are not evenly spaced
within the range of all frequencies which makes it hard to play in tune. As a
result
<a href="https://en.wikipedia.org/wiki/Equal_temperament">equal temperament</a>
is used to even the notes out so each one is out of tune but not in a
particularly noticable way. Sets of pitches are grouped together into keys.
Membership of such sets is derived from a pitch's relationship to a "tonic"
note and rule defining pitch relationships. Both these aspects of a key
name it: for example A minor tells us that the tonic note is "A" and the rule
defining pitch relationships is the minor mode. </p>

<p>Pitch, rhythm, melody, harmony, dynamics, timbre, expression, form</p>

<p><small>Image credits:
<a href="https://en.wikipedia.org/wiki/File:Socrates_Louvre.jpg">Socrates</a>.
&copy; 2005
<a href="https://fr.wikipedia.org/wiki/Utilisateur:Sting">Eric Gaba</a>
(under a
<a href="https://creativecommons.org/licenses/by-sa/2.5/deed.en">creative commons</a>
license).
<a href="https://www.flickr.com/photos/mirsasha/8236043793/">Keep off the Grass</a>. &copy; 2012
<a href="https://secure.flickr.com/photos/mirsasha/">Mirsasha</a> (under a
<a href="https://creativecommons.org/licenses/by-nc-nd/2.0/deed.en_GB">creative commons</a> license).
</small></p>
{% endblock %}
