{% extends "base.html" %}
{% block content %}
<h1>Liberation Technology</h1>
<p class="published_on">Wednesday 4th January 2017 (9:30pm)</p>

<p>I'm going to explain what motivates me to work on certain projects. My
purpose is to write this down somewhere so, when asked, I can point people at
this post.</p>

* A post to explain my motivations
* Technology is politics - from writing to Luddites to today
* Passive consumption is bad - why?
* Cultivation of autonomy and active creativity
* Make the world you want to live in
* Next steps

{% endblock %}
