{% extends "base.html" %}
{% block content %}
<h1>A Classical Playlist of Love</h1>
<p class="published_on">Sunday, 17th September 2019 (4:00PM)</p>

<p>A couple I know recently got in touch asking me to suggest a playlist of
classical music. What follows is my response along with videos of performances
of the pieces I chose.</p>

<p>Rather just put together a playlist of favourites or random choices, I
decided it would be interesting and stimulating to assemble a set of pieces
related to a particular feeling. In this case, I chose love.</p>

<p>Why love?</p>

<p>Because love is complicated, tragic, happy, joyful, funny, raunchy and many
more aspects too numerous to list here. Furthermore, the western classical
tradition has around 900 years of musical reactions, settings and descriptions
of love. It provides me with an opportunity for both breadth and depth.</p>

<p>I'm going to associate each piece with some aspect of love, provide
context and commentary and a link to a video of a performance of the
selected piece.</p>

<p>I want to draw your attention to the fact that I'm sharing videos of
performances. Ideally, you'd listen to these pieces in person at a concert. I
believe that only in such a live situation can you really experience the
fleeting moment of the performance, executed by highly trained musicians and
feel that sense of being in that particular moment, together with all the
others in attendence. The videos are a less than perfect replacement, yet still
have the potential to be extraordinarily moving.</p>

<p>Since this is classical music, some of it is ancient, may sound strange to
modern ears not familiar with styles and mannerisms from hundreds of years ago
or uses sung or instrumental techniques that sound odd because they're not used
much in contempory popular music.<p>

<p>Consider this an invitation to enlarge your musical world.</p>

<p>All the music you'll hear was written by a fellow human being expressing
their reaction to a notion of love. The strangeness you hear simply
demonstrates how diverse is the music of love -- a feeling universally
eternal and familiar yet so differently expressed through time and place. Such
musical encounters are a way to learn of, and from, our ancestors thoughts of
love.</p>

<h3>Tender Love</h3>

<p>Gustav Mahler - Adagietto from Symphony No. 5</p>

<p>This is a musical representation of Mahler's love for his wife Alma. Their
friend Wilem Engelberg recollects, "In place of a letter, he sent her this in
manuscript form, not adding a further word. She understood and wrote to him
telling him to come!!! They both told me this."</p>

<p>Alma later revealed Gustav left her the following poem with the score.</p>

<blockquote>In which way I love you, my sunbeam,<br/>
I cannot tell you with words.<br/>
Only my longing, my love and my bliss<br/>
can I with anguish declare.</blockquote>

<p>The performance in the video is by the Vienna Philharmonic Orchestra (who,
in 1898, hired Mahler as their musical director) and Leonard Bernstein, one of
the foremost conductors of Mahler's music in the latter part of the twentieth
century.</p>

<div class="video-container">
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/yjz2TvC2TT4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<h3>Tragic Love</h3>

<p>Pyotr Ilyich Tchaikovsky - Fantasy Overture to Romeo and Juliet</p>

<p>Tchaikovsky was well acquainted with tragic love: he was a gay man in 19th
century Russia (a time and place full of prejudice towards someone like
himself).</p>

<p>Such tragedy and pain as well as an overflowing sense of passion are
skillfully captured in this piece or "musical impressions" losely assembled to
follow the story of Romeo and Juliet. Listen out for the overwhelming "love
theme" which has become a musical cliché for inevitably doomed lovers.</p>

<p><a href="https://www.youtube.com/watch?v=Cxj8vSS2ELU">This video</a> (which
is one of several YouTube won't allow me to embed), is of a performance by the
London Symphony Orchestra at the Proms.</p>

<h3>Romantic Love</h3>

<p>Sergei Rachmaninoff - Piano Concerto No.2</p>

<p></p>

<div class="video-container">
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/l4zkc7KEvYM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

{% endblock %}
