{% extends "base.html" %}
{% block content %}
    <h1>About</h1>
    <p>This is the personal web-site of Nicholas H.Tollervey.</p>
    <h2>Who?</h2>
    <img src="/static/images/lookslikeme.jpg" alt="Your's truly"
        class="right" id="lookslikeme"/>

    <p>I am a classically trained musician, philosophy graduate, teacher,
    writer and software developer. I've been programming since 1984 when I
    taught myself by using my Primary School's
    <a href="http://en.wikipedia.org/wiki/BBC_Micro">BBC B</a>. I've been
    using / developing for the Internet since 1994 and made software
    development my career in 2002.</p>

    <p>You can find out more about me from my <a href="/cv">curriculum vitae</a>.</p>
    <h2>Why?</h2>
    <p>This site was started to demonstrate my skills and abilities for
    potential employers. It is also a means of sharing ideas, software and
    interests with anyone who happens to drop by.</p>
    <p>The site's name is based upon my own but as www.nicholastollervey.org
    is a bit hard to remember / spell / say I chose the much more succinct
    ntoll.org instead.</p>
    <p>This is the fourth version of the site. Its design implements an
    aesthetic simplicity in the presentation of information. This arose
    through my frustration with sites full of distracting graphics, icons,
    colours and "cool" stuff. It also reflects how I hope I am: concise,
    honest and full of useful information :-)</p>
{% endblock %}
