{% extends "base.html" %}
{% block content %}
<h1><a href="http://ntoll.org/article/pyconuk-2014-roundup">PyconUK 2014 Round Up</a></h1><p class="published_on">Wednesday 1st October (08:00AM)</p>

<p><small>(This write-up is a bit late: I've been ill and we've recently had a
death in the family.)</small></p>

<p>This year was the biggest ever <a href="http://pyconuk.org/">PyCon UK</a>
conference - a community organised event for users of the
<a href="http://python.org/">Python</a> programming language. Just under 500
tickets were booked including 45 for teachers and 75 for kids. We couldn't
have done it without the support of the sponsors, especially
<a href="http://corp.bankofamerica.com/">Bank of America</a>, the
<a href="https://www.python.org/psf/">Python Software Foundation</a>
and <a href="http://www.raspberrypi.org/">Raspberry Pi Foundation</a> without
whom the education track would not have been possible.</p>

<p>For me, the person responsible for the education track, I had most fun
working with the teachers and kids who turned up. I also seemed to be giving
far too many presentations (four in total during PyCon UK). I also realised,
due to circumstances beyond my control, that I have many kind and generous
friends in the Python community and that when disaster strikes people step up
and make "stuff" happen even at 4 o'clock in the morning!</p>

<p>It was a privilege to watch several masters at work during the education
track:</p>

<p>The <a href="http://www.raspberrypi.org/resources/teach/">education
team</a> from the RaspberryPi Foundation are insane, inspiring and intelligent
in equal measure - if you can attend one of their free
<a href="http://www.raspberrypi.org/picademy/">Picademy</a> events for
teachers than you're in for a real treat. It's easy to sound bombastic
about the work of the Raspberry Pi Foundation (so allow me to demonstrate):
the pedagogical forces that they unleash are both unique (because who'd have
thought such a small, cheap and "raw" piece of kit would result in such a
huge amount of interest) and important (because the Raspberry Pi liberates
computing education from the boring sad little world of locked down RM boxes,
presentations and spreadsheets). That they are a UK based effort makes it all
the more important that we, the UK's Python community, give them as much of
our support as possible.</p>

<p>It was also wonderful to see
<a href="http://www.stuffaboutcode.com/">Martin O'Hanlon</a> work his
Minecraft magic on both teachers and students. Martin introduces Python
programming via only a handful of very simple Minecraft related concepts that
he uses to build some amazing things within the Minecraft world (his
in-game house that follows you around was a big hit with the kids). He's so
good at this sort of thing that
he's <a href="http://eu.wiley.com/WileyCDA/WileyTitle/productCd-111894691X.html">written a book</a>
on this very subject (that's bound to be a big hit with young programmers and
teachers alike - what an inspiring textbook <strong>that</strong> would be).
In case you can't wait for its publication you can
<a href="https://drive.google.com/folderview?id=0BwqjqhNUlUf1TTFxNEc0d2F6OXc&usp=sharing">grab his PyCon UK resources here</a>.</p>

<p>(Here's a photo of Martin and fellow author Carrie Anne looking like the
cartoon versions of themselves used in their books.)</p>

<p><img src="/static/images/pyconuk2014-martandcarrieanne.jpg"/></p>

<p>I was especially pleased to welcome
<a href="http://splashofcreativity.co.uk/">John Pinkney</a> and his
<a href="https://asknao.aldebaran.com/">NAO</a> robots. I met John at a
<a href="http://www.computingatschool.org.uk/">CAS</a>
hub meeting over the summer where he described how he uses
robots as a catalyst for all sorts of interesting educational activities.
The visual programming tool used to interact with the robots strikes me as
particularly child-friendly. Interestingly the code behind the visual building
blocks used to describe the robot's behaviour is all written in Python (and
thus handily gave me an excuse to invite John to PyCon UK). John gave two
workshops (one for teachers, the other for kids) and the fact that he managed
to keep both groups in rapt awe for an hour is testament to both his
skill as a teacher and the "charisma" of the robots. We also ran a
robot code dojo at which we let the developers play with the bots. I gave a
quick overview of the Python API to the assembled developers and my slides
can be
<a href="/static/presentations/pyconukrobots/index.html">found here</a>.</p>

<p><iframe width="560" height="315" src="//www.youtube-nocookie.com/embed/FIwVyb9MY5U?rel=0" frameborder="0" allowfullscreen></iframe></p>

<p><a href="https://twitter.com/davidames">Dave Ames</a> also deserves a
special mention for leading a couple of excellent
workshops on using the <a href="http://pygame.org/">PyGame</a> project. Dave's
workshops involved taking an existing (yet broken / unfinished) game and
modifying the code to fix things and make it your own. I <em>really like this
approach</em> since it gives students an existing base to work from. It also
makes sure that beginner coders begin the think about debugging their own and
other people's code (for which we provided all attendees with a PyCon UK
<a href="https://en.wikipedia.org/wiki/Rubber_duck_debugging">Debug Duck</a>.
This rather excellent state of affairs is wonderfully encapsulated in the
following video from the kids' day:</p>

<p><iframe width="560" height="315" src="//www.youtube-nocookie.com/embed/kxD2XbTDyjk?rel=0" frameborder="0" allowfullscreen></iframe></p>

<p><a href="https://twitter.com/teknoteacher">Alan O'Donohoe</a>,
<a href="https://twitter.com/ManchesterBudo">Ben Smith</a> and
<a href="https://twitter.com/vikkiville">Vikki Dodd</a> are three teachers without which
the education track would not function. Alan's pragmatic encouragement when
disaster struck (twice) was invaluable and Ben and Vikki made innumerable
contributions throughout the event that meant I was regularly thinking, "Oh
wow, [Ben/Vikki] has already done that." That's what I mean when I say that
people "step up".</p>

<p>It was an immense privilege and a lot of fun to work with
<a href="https://twitter.com/NaomiCeder">Naomi Ceder</a> (founder
of the PyCon US Education Summit) on our own small contribution to the
education track: introducing object oriented programming to teachers
<a href="/static/presentations/oopy/index.html">through the medium of
cows</a>. I especially enjoyed the tag wrestling modus operandi of our talk.
I'll leave you to guess which one of us was Big Daddy or Giant Haystacks (a
UK specific cultural reference I'm sure Naomi will be delighted to quickly
forget). In any case, both teachers and developers got stuck into our
Parrot related exercise (as the picture below shows):</p>

<p><img src="/static/images/pyconuk-2014-teachers.jpg"/></p>

<p>Finally, <a href="https://twitter.com/MissPhilbin">Carrie Anne</a> gave
a stonking keynote address to the whole conference on Sunday afternoon. I've
heard far too many
boring-yet-worthy-important-people-talking-about-boring-yet-worthy-important-things
as conference keynotes in my time. Happily it soon became apparent that Carrie
Anne's keynote was definitely <strong>not</strong> a boring-yet-worthy talk
about matters of an educational nature. If you want
to actually know what Carrie Anne said you should invite her to
your conference to give the keynote. It would be definitely worth it:
evidence via social networks suggests hers was the warmest
received and most highly regarded keynote of this year's conference.</p>

<p>Other wonderful aspects of this year's PyCon UK included the beer for the
conference meal (brewed using Python), the charity cheese shop that raised
several hundred pounds for a local children's hospice and the inevitable
silliness during the lightning talks.</p>

<p>Finally, it was a pleasure to catch up with
<a href="https://twitter.com/VanL">Van Lindberg</a> (chair of the Python
Software Foundation). I'll leave what we discussed for a separate blog post
but, in the meantime, you should all totally sign up to be members of the
PSF <a href="https://www.python.org/accounts/signup/">here</a>. Why?
Because,</p>

<blockquote>
The mission of the Python Software Foundation is to promote, protect, and advance the Python programming language, and to support and facilitate the growth of a diverse and international community of Python programmers.
</blockquote>

<p>We've already started planning next year's conference. If you can think of
any ways in which we can make it better please don't hesitate to get in
touch.</p>
<hr/>
<h1><a href="http://ntoll.org/article/pyconuk-edu-2014">PyconUK 2014 and the Education Track</a></h1><p class="published_on">Saturday 21st June (02:00PM)</p>

<p>I write software. I use a programming language called
<a href="http://python.org/">Python</a>. As well as being very easy to learn
and fun to use Python is an amazingly powerful language that's used by
<a href="https://www.python.org/about/success/">thousands of organisations</a>
the world over - from the likes of
<a href="http://google.com/">Google</a>,
<a href="http://corp.bankofamerica.com/">Bank of America / Merrill Lynch</a>,
and
<a href="http://nasa.gov/">NASA</a> to small start-ups and scrappy little
websites such as this one. Every day, <em>you</em> inadvertently encounter
thousands of digital creations made with Python. By any measure of technical
success Python, it seems, is a triumph.</p>

<p>For all Python's technical prestige, I believe the most important aspect of
Python is the community that has evolved around the language. Perhaps
<a href="https://www.python.org/~guido/">Guido</a>'s desire for
<a href="https://www.python.org/doc/essays/cp4e/">computer programming for
everyone</a> set the seeds for the growth of such a community. Of course,
the development of Python is an entirely voluntary affair and inevitably
attracts the sort of person who likely wants to contribute to the wider public
good. Maybe it's because the
<a href="https://www.python.org/psf-landing/">Python Software Foundation</a>
(the charitable organisation that promotes Python and coordinates its
development) is not just <em>sympathetic to</em> but
<em>proactive in</em> encouraging engagement in Python programming
<a href="https://www.python.org/community/diversity/">no matter your
background</a> and <em>especially if you belong to an underrepresented group
of nascent programmers</em>.</p>

<p>Happily, the UK's Python community are a diverse bunch who maintain a
reputation as a friendly, welcoming and dynamic group. Every year we meet
for our community organised <a href="http://pyconuk.org/">PyconUK</a>
conference. We come together in a way that reflects the widely held view that
diversity and friendliness are strengths of our community to be celebrated
and fostered (to paraphrase PyconUK's
<a href="http://pyconuk.net/CodeOfConduct">statement on diversity and
conduct</a>).</p>

<p>For the past three years we have welcomed colleagues who are teachers of
Python in UK schools. For the past two years we have put on a special
education track to promote programmer / teacher collaboration and mutual
learning. Last year we ran a kids' day where the proto-programmers of tomorrow
explored Python with the technologists of today. The following videos give
you a flavour of what we got up to:</p>

<iframe width="420" height="315" src="//www.youtube-nocookie.com/embed/qOya5R9g1T8?rel=0" frameborder="0" allowfullscreen></iframe>

<iframe width="420" height="315" src="//www.youtube-nocookie.com/embed/uPq1VJpMEgw?rel=0" frameborder="0" allowfullscreen></iframe>

<iframe width="420" height="315" src="//www.youtube-nocookie.com/embed/yerWCR3mppk?rel=0" frameborder="0" allowfullscreen></iframe>

<iframe width="420" height="315" src="//www.youtube-nocookie.com/embed/u4IMlpmjbYg?rel=0" frameborder="0" allowfullscreen></iframe>

<iframe width="420" height="315" src="//www.youtube-nocookie.com/embed/PXPoc9HCTlo?rel=0" frameborder="0" allowfullscreen></iframe>

<iframe width="420" height="315" src="//www.youtube-nocookie.com/embed/RZJFdeDpo8w?rel=0" frameborder="0" allowfullscreen></iframe>

<p>We are delighted to be running an education track at this year's
PyconUK (to be held on 19th-22nd September in Coventry).</p>

<p>The philosophy of the education track is simple: wonderful things happen
when diverse groups of people come together to learn about and explore
empowering technology such as Python.</p>

<p>If you are a teacher, parent, programmer or young person interested in
exploring technology then the education track has something for you. We have
secured some very generous support for teachers, parents and young people to
attend at little or no cost. Kudos to
<a href="http://corp.bankofamerica.com/">Bank of America</a>,
<a href="https://www.python.org/psf-landing/">The Python Software Foundation</a>,
<a href="https://www.hp.com/">Hewlett Packard</a>,
<a href="http://www.raspberrypi.org/">The Raspberry Pi Foundation</a>
and our very own
<a href="http://pyconuk.org/">PyconUK Society</a> for their extraordinarily
abundant support.</p>

<p>Full details can be found here:</p>

<p><a href="http://pyconuk.org/education">http://pyconuk.org/education</a></p>

<p>Book now because places are limited!</p>

<hr/>
<h1><a href="http://ntoll.org/article/experience-of-music">The Experience of Music</a></h1><p class="published_on">Saturday 24th May (11:30AM)</p>

<p>This is a second blog post resulting from emails about music exchanged with
my buddy <a href="http://www.flourish.org">Francis</a> (the first one
can be <a href="/article/pachelbel-canon">found here</a>). I also felt
compelled to write because of
<a href="https://twitter.com/ntoll/statuses/469237873469038592">this recent
fragment of conversation</a> on Twitter with another collaborator and buddy,
<a href="http://drlj.me/">Dr. Laura-Jane Smith</a>, concerning how one
measures the efficacy or effect of an artistic encounter.</p>

<blockquote class="twitter-tweet" lang="en"><p>Interesting article: what evidence is appropriate to support/justify <a href="https://twitter.com/search?q=%23arts&amp;src=hash">#arts</a> in <a href="https://twitter.com/search?q=%23health&amp;src=hash">#health</a>? Are clinicians too positivist? <a href="http://t.co/tTj1hqQYoc">http://t.co/tTj1hqQYoc</a></p>&mdash; Dr LJ (@drlaurajane) <a href="https://twitter.com/drlaurajane/statuses/469144660993384448">May 21, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<p>What follows are personal reflections. Please take them with a large pinch
of salt. I'm merely creating a
<a href="http://www.oreillynet.com/pub/wlg/2982">context in which <em><u>you</u></em>
may think</a> about music.</p>

<iframe src="//player.vimeo.com/video/54763818?badge=0" width="712" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<p>The video (by <a href="http://vimeo.com/finallystudio">FinallyStudio</a>)
claims there are lots of ways to understand music because
there are lots of aspects of music to consider (and you don't have to know
about any of them to enjoy music). The evidence for this argument is all
around us: people with no musical training enjoy music all the time. Be it
listening to the radio, singing in the shower or picking out melodies on a
self-taught instrument, music is somehow an innate part of the human
experience, no matter your level of education.</p>

<p>Both Francis's emails and Laura-Jane's question about
<a href="https://en.wikipedia.org/wiki/Positivism">positivism</a> struck me
as overtly intellectual in outlook: there had to be some <em>thing</em> to be
identified, processed and (in LJ's case) measured and interpreted. As Francis
explained,</p>

<blockquote>I think I'm *so bad* at this particular music, I'm just not
noticing any patterns.

My instinctive feeling is it is just a whiney, drifty noise.
</blockquote>

<p>In these two sentences Francis identifies the nub of the matter (and
the title of this post): the <em>experience</em> of music.</p>

<p>How does music feel? What are the sensations that music arouses in you?
What do you think when you encounter music?</p>

<p>When reading this post I want you to wonder about your raw, intuitive or
instinctive reactions to music rather than any higher order thinking about
music.</p>

<p>Why?</p>

<p>I believe there is a danger to over-think music.</p>

<p>As far as I can tell,
there's no need to identify patterns to appreciate music that is otherwise
unenjoyable. Perhaps the composer wanted to create whiney, drifty noise. Even
if this is not the case, who's to say Francis's reaction is wrong? I find
plenty of
<a href="https://www.youtube.com/watch?v=g5TVKhjEVtQ">well loved music</a>
hard to enjoy (or even to listen to).</p>

<p>In the context of health,
<a href="https://en.wikipedia.org/wiki/Magnetic_resonance_imaging">MRI scanners</a>
can't measure <a href="https://en.wikipedia.org/wiki/Qualia">qualia</a> to
provide evidence of music's efficacy or influence. Surely, enjoyment of the
sensation is evidence enough? (After all, from a utilitarian perspective, the
net sum of "happiness" in the world grows because of music.) Nevertheless, I'm
reminded of an episode of the  BBC programme
<a href="https://en.wikipedia.org/wiki/Imagine_%28TV_series%29">Imagine</a>
from 2008 where
<a href="https://en.wikipedia.org/wiki/Alan_Yentob">Alan Yentob</a> subjected
himself to an MRI scan while listening to music. Upon hearing
<a href="https://en.wikipedia.org/wiki/Jessye_Norman">Jessye Norman</a>
perform one of Strauss's
<a href="https://en.wikipedia.org/wiki/Four_Last_Songs">Four Last Songs</a> -
music to which he acknowledged he had a special emotional attachment - his
brain was suffused with blood. As one reviewer
<a href="http://www.independent.co.uk/arts-entertainment/tv/reviews/last-nights-tv-when-a-bit-of-rhythm-beats-the-blues-839437.html">put it</a>,</p>

<blockquote>He listened to her and his mind blushed.
</blockquote>

<p>While the MRI scanner allowed viewers to watch Yentob's apparent physical
reaction to Norman's performance it didn't give us a sense of Yentob's
obvious emotional reaction (obvious because he talks about how the music
makes him feel).</p>

<p>Furthermore, each of us has a different, very personal reaction
to music. What may seem like a heavenly performance to one person is a turgid
noise to another. The infant school recorder ensemble may bring tears to the
eyes for very different reasons, depending on who is listening. Some people
love to play certain pieces while others can't stand the thought of another
damn performance.</p>

<p>Because of these reasons, attempting to pin down the experience of "music"
feels like an impossible task.</p>

<p>Even generalisations don't work. For example, we may assert that music is
just a particular sort of sound; but then we'd need to explain
<a href="https://en.wikipedia.org/wiki/Ludwig_van_Beethoven">Beethoven</a>'s
composition technique. His deafness forced him to compose his later works
solely in his head - no actual sound was involved in the process despite it
being fundamentally musical.</p>

<p>In fact, some musicians disagree with the sentiment that music is in some
way a sub-set of sound. Take the renegade American composer
<a href="https://en.wikipedia.org/wiki/Charles_Ives">Charles Ives</a> who
famously asked,</p>

<blockquote>What has sound got to do with music!?
</blockquote>

<p>Ives believed that music is in some way the underlying "spirit" of the
composer and (especially) the performer expressed through sound rather than
the sound itself. An alternative way to answer his question is to claim that
music is the feeling you get from sounds rather than the sounds
themselves.</p>

<p>In some sense, it <em>is</em> rewarding to "understand" music and
<a href="/article/pachelbel-canon">know what's going on</a>. Discovering,
interpreting and describing the conceptual world of music is an interesting,
enhancing and intensifying experience. But there is a danger that we become
distracted by such intellectual diversions in a similar way that one might
become fixated by the form of a Sonnet while missing its meaning:</p>

<blockquote>Silent Noon</br>
</br>
Your hands lie open in the long fresh grass, --</br>
The finger-points look through like rosy blooms:</br>
Your eyes smile peace. The pasture gleams and glooms</br>
'Neath billowing skies that scatter and amass.</br>
All round our nest, far as the eye can pass,</br>
Are golden kingcup-fields with silver edge</br>
Where the cow-parsley skirts the hawthorn-hedge.</br>
'Tis visible silence, still as the hour-glass.</br>
</br>
Deep in the sun-searched growths the dragon-fly</br>
Hangs like a blue thread loosened from the sky: --</br>
So this wing'd hour is dropt to us from above.</br>
Oh! clasp we to our hearts, for deathless dower,</br>
This close-companioned inarticulate hour</br>
When twofold silence was the song of love.</br>
</br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
~ Christina Rossetti
</blockquote>

<p><a href="https://en.wikipedia.org/wiki/Christina_Rossetti">Rosetti</a>'s
poem was beautifully set to music by
<a href="https://en.wikipedia.org/wiki/Ralph_Vaughan_Williams">Ralph Vaughan-Williams</a>
(my wife and I enjoy playing it together ~ me on piano, Mary on 'cello).
Listen to the recording below; sit back, let the music and words wash over
you.</p>

<iframe width="420" height="315" src="//www.youtube-nocookie.com/embed/XgJfv_3p9uU?rel=0" frameborder="0" allowfullscreen></iframe>

<p>I challenge you to be unmoved.</p>
<p><a href="/articles">View all articles</a></p>
{% endblock content %}