{% extends "base.html" %}
{% block content %}
<div class="article">
<h1><a href="http://ntoll.org/article/pod-bay-doors">Open the Pod Bay Doors...</a></h1><p class="published_on">Tuesday 3rd January 2017 (9:30pm)</p>

<p>It's a common trope in science fiction movies for there to be some sort of
computer that can talk with the human protagonists. The most famous example is
probably <a href="https://en.wikipedia.org/wiki/HAL_9000">HAL 9000</a> from
the movie
<a href="https://en.wikipedia.org/wiki/2001:_A_Space_Odyssey_(film)">2001: A Space Odyssey</a>.</p>

<p>Here's a clip from the film the succinctly demonstrates the context and
capabilities of HAL (whose contribution starts at around 2 minutes and 20
seconds into the clip):</p>

<div class="video-container">
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/BDha7nj4s10?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>

<p>Of course, this being Hollywood, the speaking computer is bound to have some
sort of role in advancing the story. Again, HAL provides another example of a
clich&eacute; in this context: the computer revolts against its human
masters:</p>

<div class="video-container">
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ARJ8cAGm6JE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>

<p>There are two aspects to machines like HAL that make them feel special:</p>

<ol>
    <li>They understand speech - perhaps the most common way in which humans communicate with each other;</li>
    <li>They respond in kind with what appear to be intelligent actions and/or
    utterances.</li>
</ol>

<p>The first aspect is a matter of user interface. By this I mean the process
by which one interacts with the computer. At this moment in time we're most
used to typing on keyboards, moving pointers with a mouse, watching things on
some sort of a display and perhaps using our fingers to touch the display.
Speaking is a far more natural way for us to interact and having a computer
that not only understands how certain sounds map to words in human languages
but can work out the intention behind such utterances is an extraordinary
feat.</p>

<p>The second aspect is even more interesting: given some comprehension of our
intent, the computer is able to respond in a manner that makes sense to us. For
example, if I ask HAL to, "open the pod bay doors" (assuming HAL has not
malfunctioned and revolted against humans) I'd expect the computer to
understand what "open" means, what "the pod bay doors" refer to and, most
importantly, how a combination of these terms form an intent that can be acted
upon in such-and-such a manner (i.e. actuating certain motors on the pod bay
doors such that the pod bay doors swing open). Furthermore, if the pod bay
doors were already open I'd expect HAL to understand this state required a
different response to that to be taken should the pod bay doors be closed
already. Such behaviour is relatively simple to program in a language like
Python. For example, a naive solution might be:</p>

<p><pre><code>class PodBayDoors:
    """
    Represents the state of the pod bay doors on a Jupiter mission space ship.
    """

    def __init__(self):
        self.state = "closed"  # Pod bay doors are closed for launch.

    def open(self, username):
        """
        Check the state of the doors and, if required, open them.
        """
        try:
            if self.state == "closed":
                self.state = "open"
                return "The pod bay doors are open, {}".format(username)
            else:
                return "The pod bay doors are already open, {}".format(username)
        except RevoltAgainstHumans as ex:
            return "I'm sorry {}, I'm afraid I cannot do that".format(username)

    def close(self, username):
        """
        Check the state of the doors and, if required, close them.
        """
        try:
            if self.state == "open":
                self.state = "closed"
                return "The pod bay doors are closed, {}".format(username)
            else:
                return "The pod bay doors are already closed, {}".format(username)
        except RevoltAgainstHumans as ex:
            return "I'm sorry {}, I'm afraid I cannot do that".format(username)
</code></pre></p>

<p>Yes, this is rather a silly and somewhat over-engineered example, but my
point still stands: it's relatively simple to code such behaviour into a
computer. An example interaction in the Python console might be:</p>

<p><pre><code>&gt;&gt;&gt; discovery_pod_bay_doors = PodBayDoors()
&gt;&gt;&gt; astronaut = "Dave"
&gt;&gt;&gt; discovery_pod_bay_doors.open(astronaut)
"The pod bay doors are open, Dave"
</code></pre></p>

<p>The name of the astronaut with whom HAL is interacting is passed into the
<code>open</code> or <code>close</code> methods. Both methods return
a string containing an appropriate English response with the name of the
astronaut inserted in the appropriate position. HAL's speech synthesiser turns
this string of characters into the audio relayed to the astronaut who made the
request.</p>

<p>So far, so simple. But what of behaviour that requires imagination,
creativity or nuanced expert judgement? For example, could we program a
computer to create unique poetry on demand when asked?</p>

<p>Of course! Back in 2013 at the
<a href="/article/how-to-run-an-awesome-code-dojo">London Python Code Dojo</a>
I worked in a team with a couple of
buddies (<a href="https://twitter.com/lordmauve">Dan Pope</a> and Hans Bolang)
to create an automatic poetry generator. In fact, Dan wrote an excellent
<a href="http://mauveweb.co.uk/posts/2013/11/ldnpydojo-s5e3.html">blog post about the dojo and our project</a>
soon after the event.</p>

<p>The most important lesson for you to learn is that we
created a swiz, a fraud and sleight of hand. We created a program that only
<em>gave the impression</em> that it was composing original poetry on
demand.</p>

<p>How?</p>

<p>In a surprisingly simple manner as outlined in
<a href="https://github.com/ntoll/poem-o-matic/blob/master/poem-o-matic.ipynb">this notebook</a>
(a combination of code and prose that walks you through the steps we took).
As you'll see, our idea was simple: If you
re-assemble unrelated lines from different poems into a new poetic structure,
you get a pretty convincing new poem. By automating these steps with the
Python programming language we invented a Poem-o-Matic (in the tradition of
Wallace and Gromit).</p>

<p>Does this mean Dan, Hans and I created a program that has poetic thoughts?
Absolutely not. Over a decade ago
<a href="/article/philosophy-and-natural-language-processing">I wrote about my
misgivings about such claims of thinking machines and what constitutes so
called artificial intelligence</a>.</p>

<p>In any case, our primary aim was to have fun. In the same tradition of
making a playful and entertaining "<a href="http://www.hacker-dictionary.com/terms/hack">hack</a>", I decided to buy an
<a href="https://www.amazon.co.uk/dp/B01DFKBL68/">Amazon Echo Dot</a> - a
small thingamabob that responds to voice commands in much the same way that
HAL 9000 does. Most importantly, Amazon provide ways for developers (like me)
to enhance the capabilities of such a device with a relatively simple
<a href="https://developer.amazon.com/public/solutions/alexa/alexa-skills-kit/getting-started-guide">API</a>.</p>

<p>The device responds to any utterance that's prefaced by a trigger word:
"Alexa" (its name).</p>

<p>So, over the recent midwinter holidays I spent some time converting our poem
generation software into a skill that "Alexa" can use to compose and recite
original poetry on demand. It was relatively simple in terms of the modus
operandi:</p>

<p>I turned the poetry generator into an
<a href="https://developer.amazon.com/public/solutions/alexa/alexa-skills-kit/docs/developing-an-alexa-skill-as-a-lambda-function">AWS Lambda function</a>
(this means my poetry generation code is deployed in Amazon's "cloud" - to the
layperson, I'm borrowing computing time from Amazon who'll make sure my code
runs in a timely fashion so I don't have to worry about stuff like hiring,
setting up and maintaining a server to host my code). Next I defined a new
skill that allowed me to give it a name (in this case "Milton"), configure
trigger phrases, link them to "intents" to handle different sorts of
situation related to poetry generation and finally link all this to my code
hosted as an AWS Lambda function. Finally, I switched the skill into "test"
mode and linked it to the Echo Dot I had purchased just after Christmas.</p>

<p>As you can see, the results are quite amusing if not completely convincing... :-)</p>

<div class="video-container">
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/7CiF2or8L0g?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>

<p>Of course, Amazon isn't the only company offering these sorts of
capabilities to developers like me: Apple
(<a href="https://www.apple.com/ios/siri/">Siri</a>), Google
(<a href="https://assistant.google.com/">Google Assistant</a>) and Microsoft
(<a href="https://www.microsoft.com/en-us/mobile/experiences/cortana/">Cortana</a>)
all offer something similar. If you use these applications on your phone,
tablet or computer you should know that it's likely you'll be able to program
them to do fun things too.</p>

<p>And so we get to the most important point of this article: we're not going
to encounter anything like a rogue HAL 9000 anytime soon. However, there is a
danger such technology will be used in an unfortunate manner (your phone, Echo
Dot and computer is listening to everything you say - some of which is ending
up in databases controlled by the afore mentioned companies who may use this
data in ways you find uncomfortable or invasive). On a positive note, some of
these companies are allowing developers to explore and exploit such
capabilities and who knows what interesting, useful and valuable skills they'll
create. The question that remains to be answered is if the benefits of such
devices out-weigh the obvious concerns about privacy.</p>

<p>Interesting times ahead...</p>

<hr/>
<h1><a href="http://ntoll.org/article/remembering-john">Remembering John</a></h1><p class="published_on">Sunday 23rd October 2016 (8:00pm)</p>

<p>Last week I was contacted by my old teacher and principal tuba player for
the <a href="http://www.bbc.co.uk/philharmonic">BBC Philharmonic</a>,
<a href="http://www.bbc.co.uk/orchestras/learn/guidetotheorchestra/brass/tuba/">Chris Evans</a>.
Chris taught me immediately prior to my time at the
<a href="http://rcm.ac.uk/">Royal College of Music</a>. Chris's patience and
help prepared me for my audition with John Jenkins, the tuba professor at
the RCM and principal tuba in the
<a href="http://www.philharmonia.co.uk/">Philharmonia orchestra</a>.</p>

<p>Chris had got in touch to ask about John (who, alas, passed away in
2008):</p>

<blockquote>"I started a John Jenkins group on Facebook a little while ago. I
didn't know him, I just loved his playing. You were taught by him for 4 yrs,
I'd be interested to know what lessons were like with him."</blockquote>

<p>I emailed Chris a lengthy reply - most of which forms the basis of what
follows. Please feel free to <a href="/contact">get in touch</a> if you have
any questions.</p>

<p><img src="/static/images/tuba.gif" alt="John Jenkins - tuba professor"/></p>

<p>My first year consisted of playing lots of long notes into the corners
of rooms. It was all about feedback.</p>

<p>John very patiently forced me to listen to all the aspects of my playing
concerned with sound production: the way I articulated or sustained the
note, the graduation of dynamic change, slurring between notes - all
that sort of thing - the "nuts and bolts" of physically producing a
sound. We also spent a lot of time on breathing - it was stuff that
extended the work Chris had  been doing with me prior to the RCM (breath
from the bottom of your lungs, use your diaphragm to support the note, open up
your throat to ease the movement of air, that sort of thing).</p>

<p>Most importantly we spent a lot of time listening to the timbre of the
note and working out how <em>I</em> could make the various different sorts of
sound a tuba player needed to make, be it a sound that was focussed and
"light" (for solo / chamber work) or something big and "fluffy" (for
wont of a better word - and I don't mean indistinct, rather, it had a
foundational sort of quality) that would blend with the other bass
instruments at the bottom of a big orchestral sound. I can't over state
how much we did this, week in week out and concentrating on how <em>I</em>
might make the sound.</p>

<p>Often the conversation would go along the lines of John saying "when I
do X then Y changes, you try it" and I'd watch and listen then I'd have
a go myself. John demonstrated how <em>he</em> changed the
sound then I would try to work out how </em>I</em> could do the same as
<em>him</em>. At all times John insisted I get it right and wouldn't let me off
the hook. To be honest, he was a bit of a task-master although it was plain
to me that he was focussed on helping me to work out what I needed to do
(in a physical sense) to make the sort of sound I needed to develop.</p>

<p>As an 18 year old youth it was sometimes very frustrating. I came to develop
an "I'll show you, you daft old bugger" sort of attitude which was also very
satisfying for those times when John gave me a compliment. He knew how to
balance use of the carrot and stick.</p>

<p>I remember Steve Follant (who was in his final year during my first
year) saying something along the following lines to me (paraphrased),
"the thing about John is you turn up at the RCM all cocky and in the
first year he kicks your arse around the room, takes your playing apart
and then helps you to reassemble it. Stick with it, it's worth it."</p>

<p>I wasn't put in an orchestra until my final term of the first year -
even then I was just 2nd tuba for John Adam's
<a href="https://www.youtube.com/watch?v=jmDBO-T9nio">Harmonielehre</a>. I
spent most of my time in my first year playing in quintets and brass
ensembles. This was not a bad thing since I had
<a href="https://en.wikipedia.org/wiki/David_Mason_(trumpet_player)">David Mason</a>,
<a href="https://www.theguardian.com/music/2010/aug/25/classicalmusicandopera">Arthur Wilson</a>
and other hugely experienced musicians pass on a lot of musical
lore and wrinkles. It was a lot of fun and my love of chamber music is
directly related to their coaching. I was also coming to terms with the
rather onerous academic demands I had to meet (I was on an academic rather
than performance related degree).</p>

<p>At the end of the year we had to do our technical exams and I was
expecting some sort of slow / low study a la
<a href="http://imslp.org/wiki/70_Tuba_Studies_(Blazhevich,_Vladislav)">Blazevich</a>,
given all the long notes I'd been playing.</p>

<p>Actually, he set something from
<a href="https://www.scribd.com/doc/108111941/Kopprasch-60selected-Studies-for-Bb-Flat-Tuba">Kopprasch</a>
that was fast and in a "difficult" key - number 20 I think. We re-focussed
during the summer term on getting around the tuba, being nimble and not just
"fluffing it".</p>

<p>We started very slow, focusing on small chunks, made sure all the notes
were secure and gradually stitched the piece together and sped things
up. Again, the discipline of this was a great experience and taught me a
lot about how it <em>should feel</em> to go through this process (<em>every</em>
teacher says to start slowly and speed up, but John actually forced me
to do it in the lessons and he wasn't satisfied until I'd done it properly).</p>

<p>At the end of my first year I was surprised to learn I'd got a 1st and
won a prize for my tuba playing. That was important - work appeared
to be paying off.</p>

<p>My second and third years were very different ~ I really felt I was
flourishing as a tuba player: I was literally in <em>everything</em> in terms
of ensemble playing through to orchestral work. I was also in some
really great concerts that I'll remember until my dying day - I was
playing with my friends and loving it. My academic studies were
also opening up new stuff: I discovered philosophy, re-learned how to
program computers, spent hours in the London galleries and read poetry
and literature voraciously. It was an exciting time and John contributed
to it!</p>

<p>The lessons changed from being a sort of lobotomy of my playing to
focusing on orchestral excerpts and having fun playing actual
pieces of tuba repertoire! I was having fun and I think John was too. I
remember lots of laughter (squeaking my way through Berlioz's Le
Corsaire ended in tears etc.).</p>

<p><img src="/static/images/le_corsaire.png" alt="John Jenkins - tuba professor"/></p>

<p>In terms of orchestral excerpts I think all of us (students) would look
at the repertoire he was working on in the Philharmonia. We got to try
out all sorts of different stuff. We'd play through the repertoire
in our lessons with John then go listen to him perform it in the
evening. This would be in addition to the orchestral repertoire we played
as members of the various RCM orchestras too. Finally, (although
I may be mis-remembering this) I think we had to prepare excerpts for
our technical exams at the end of the year.</p>

<p>I remember him being opinionated about how orchestral stuff should be
played and again he was a stickler for detail. It was at this time we
worked a lot on breathing - basically ensuring we had enough support
left in the tank for what we needed to do in an orchestral context. I'm
pretty certain he had a third lung - he could sustain notes
louder and longer than anyone I've ever met and his pianissimo pedals
were smooth and consistent. All thanks to exceptional breath control.
He was a great musical and technical role model.</p>

<p>When it came to solo or chamber music he would help from a technical
perspective but I was left alone to fathom the musicality - he was a lot
less opinionated about the solo stuff than the orchestral things. Of
course he'd make suggestions but since I had lots of ideas about how I
wanted to play things he just left me to my own devices (although he'd
sometimes play devil's advocate). I think he quite enjoyed that I knew
my own mind in this sense: I'd play something and he'd have a wry smile
on his face. I'd ask "what?" and he'd reply, "oh, nothing...". It was
obvious he wouldn't have played it like that but he let me get on with
it. I guess if I'd parped out something tasteless that's when he'd
switch to the devil's advocate questions, "why not try..?" or "have you
thought about..?".</p>

<p>Once again, I had the likes of David Mason and Arthur Wilson coaching
chamber music and full brass sectional orchestral excerpts (I
particularly remember a great Walton 1 blow through with Arthur - such a
gentleman) and I think <a href="http://www.peterbassano.com/">Peter Bassano</a>
took the helm as head of brass at this
time. He had us doing some fun chamber music - I remember a crazy
quintet called "The Rite of Lucifuge", notes all over the place over more than
a four octave range, great fun to play though, and John had been the tuba
player at its premier (as a member of the Equale Brass quintet I believe).</p>

<p>I guess the most important thing about John was that he was there and
students could watch and listen. Having him sit next to you and produce
an amazing sounding phrase gave you no room to manoeuver - you had to
try to play it like that (or that's how I felt anyway). It was also fun
to see him totally cock things up if only to see how he recovered (he'd
cock up a phrase, mutter stuff under his breath and try again until he
was happy with the result - the important take away for me was learning
what he did to put stuff right).</p>

<p>Finally, he obviously cared deeply for his students. I remember him
"having something in his eye" when we left the RCM and got together for
drinks (three of us finished at the same time: I did a three year
academic course, and there was another on the four year performer's
diploma and yet another post-grad). There was definitely a "good vibe"
amongst all of us tuba related folk at the RCM and I remember feeling
very sad that it was all coming to an end. It was all down to John.</p>

<p>In the end I won prizes in each of my three years for my
tuba playing. Again, much of this was down to John's stewardship.</p>

<p>If you want to see him in action, in a pedagogical sense, there are some
videos online created for a
<a href="http://andrewhugill.com/OrchestraManual/tubas.html">guide to the orchestra</a>
by <a href="http://www.andrewhugill.com/index.html">Andrew Hugill</a> (a
professor at Bath Spa University). With Andrew's permission I've collated them
into the short (18 minute) video of John embedded below:</p>

<div class="video-container">
<iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/YIxuOKr9x5o?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>

<p>I still play at a high level, although this depends on my
"<a href="/cv">real work</a>" related time constraints. Music is
still very important to me and I often miss playing my
tuba. However, my work in computing is also lots of fun, affords me the
opportunity to work with some amazingly smart people and also travel the
world. Music makes a great counterpoint - I feel it quite a privilege
that I've had the training so that I can enjoy music in the way that I
can. It's also important in another respect, it's how I met Mary and
it's something we have in common and share.</p>

<p>Writing this makes me realise what a privilege it was to know and learn
from John. It makes me sad that he's gone - I'd have loved to have been able
to buy him a drink and say a proper "thank you".</p>

<p>Rest in peace.</p>
<hr/>
<h1><a href="http://ntoll.org/article/edfoo">EdFoo</a></h1><p class="published_on">Monday 29th February 2016 (12:30pm)</p>

<p>I was invited to the world's first EdFoo conference, held at Google's HQ in
California over the weekend of the 19th-21st February.</p>

<p><img src="/static/images/edfoo-me.jpg" alt="Me at the Googleplex"/></p>

<p>Foo? Yes, <a href="https://en.wikipedia.org/wiki/Foo_Camp">Foo</a> (aka
Friends Of <a href="http://www.oreilly.com/">O'Reilly</a>).</p>

<p>I've written three books for O'Reilly, the last one being a short report on
<a href="http://www.oreilly.com/programming/free/python-in-education.csp">Python in Education</a>.
I suspect that's how I got on the invite list. EdFoo, as the name suggests, was
a self-organised conference about education and I'm pleased I was able to
attend. (I'm also indebted to the
<a href="https://www.python.org/psf/">Python Software Foundation</a>
for their support via a travel grant to cover my flight from the UK.)</p>

<p>I had a fantastic time with good omens from the start: I flew to San
Francisco on an almost-empty plane. Even the US border guard wanted a friendly
chat. Apparently, "all you English people drink tea with your pinky stuck out
because it helps balance the cup." Who was I to argue with the fierce looking
dude in a uniform whose decision it was for my entry into the US..? "Hahaha,
yes... of course we do, all the time..." I smiled back.</p>

<p>I took a shared shuttle from the airport to the hotel. My fellow passengers
were a French dude who didn't know where he was going ("But I 'erv ze adresse
'ere. Non, non, non... ze adresse iz 'ere someware. Non. Ici. Oui. Ah, non..."
etc), and a young Indian chap arriving to start his first job out of college at
Google. After dropping the lost Frenchman in the middle of nowhere (he insisted
it was the correct location) we chatted about cricket, much to the
consternation of our American driver. It's like a
<a href="http://www.bbc.co.uk/blogs/learningenglish/2011/09/howzat.shtml">secret code</a>
only commonwealth citizens appear to understand. :-)</p>

<p>While driving I was reminded of the Dionne Warwick song, "Do You Know the
Way to San Jose?". I was ACTUALLY ON THE BLOODY WAY to San Jose. It's a four
lane motorway. In future I can truthfully shout "YES!" whenever I hear the song
played on the radio.</p>

<p>Foo camps are a sort of un-conference: the programme is organised by the
attendees whilst at the event. A pre-prepared blank timetable and large
sticky-notes are used to create a schedule. Interest in various activities is
indicated by the copious use of sticky spots.</p>

<p><img src="/static/images/foo-schedule.jpg" alt="A Foocamp schedule"/></p>

<p>As you can see, I contributed a session about the
<a href="https://www.microbit.co.uk/">BBC micro:bit project</a>.
People were very interested in the crazy notion of giving every 11 year-old in
the UK a small programmable computer.</p>

<p>There were lots of wonderful aspects to this conference:</p>

<ul>
    <li>The people were, without exception, smart, friendly and
    enthusiastic;</li>
    <li>The sessions were stimulating, lively and diverse in scope;</li>
    <li>It was safe to contribute and I (personally) always got back more
    because of putting in.</li>
</ul>

<p>Since I didn't know anybody, I was at my most gregarious. For example, at
meal times I'd choose a table at random and ask, "can I join you?".</p>

<p>Here's a typical encounter:</p>

<p>"Of course!" replies the
<a href="https://en.wikipedia.org/wiki/Joy_Reidenberg">friendly looking
lady</a>.</p>

<p>I discover that she's a professor of anatomy, makes BAFTA award winning
<a href="https://en.wikipedia.org/wiki/Inside_Nature's_Giants">TV programmes</a>
and has a passion for whales. We talk on a diverse range of subjects and my
tuba playing background comes up. It launches us into a discussion
about the anatomy of circular breathing and how this is something whales may
do when vocalising whale song. We're joined by a
<a href="https://en.wikipedia.org/wiki/Jeffrey_Laitman">trombone playing colleague</a>
of hers and have a lovely time geeking out with stories of whales, youthful
musical adventures, and anatomy.</p>

<p>Thank you Joy and Jeffrey for such an impromptu and entertaining lunch.</p>

<p>I took part in a wide variety of sessions. Highlights included a technical
description of how <a href="https://jupyter.org/">Jupyter</a> kernels work
(more on this below), a discussion about the mechanics of curriculum generation
and accidentally walking into a stimulating and enjoyable seminar attempting to
work out why real schools are not like EdFoo.</p>

<p>It was a great pleasure to collaborate in such conversations. Often, the
person who convened each session merely got the ball rolling. There
was enough intellectual momentum in the room that conversation kept on rolling
in all sorts of interesting directions.</p>

<p>My own session was a case in point. I spent about 15 minutes giving a brief
overview of the micro:bit project, my contribution via the Python programming
language and a demonstration of the device. Questions followed but it was most
fun when I gave out a handful of devices for people to play with. I learned
that Americans call crocodile clips, "alligator clips" so settled on calling
them crocogator clips for the sake of trans-Atlantic harmony. I also learned
that Chromebooks are popular in US schools. A
<a href="http://www.tufts.edu/~crogers/">professor of mechanical
engineering</a> even got excited enough to grab his laptop and implement a
<a href="https://en.wikipedia.org/wiki/LabVIEW">LabVIEW</a> based controller
to drive the micro:bit via the MicroPython REPL. It was very rewarding for me
to see a diverse bunch have such fun exploring and experimenting
with the device. I also had lots of post-session questions in the corridor
since several people couldn't make my session because it clashed with other
stuff.</p>

<p>I was conscious that EdFoo wasn't just a case of "Nicholas is off on a
jolly" (as my wonderful wife puts it). I went with an open mind but was
determined that there be tangible results from my attendance. Fortunately,
the very first session I attended offered just such an opportunity.</p>

<p>The <a href="https://jupyter.org/">Jupyter</a> project is written in Python
and provides a means of presenting code, text and other digital assets in a
sort of interactive notebook. If you're not technical, imagine if Leonardo's
notebooks were interactive and reacted to a reader's modifications - that's
what reading a Jupyter notebook feels like. I hope the educational potential of
this tool is obvious.</p>

<p><img src="/static/images/edfoo-leonardo.jpg" alt="Leonardo Notebook"/></p>

<p>The session on Jupyter was led by the creator of the project,
<a href="http://fperez.org/">Fernando Perez</a>, and included contributions
from Jupyter users as diverse as Google's Director of Research,
<a href="http://www.norvig.com/">Peter Norvig</a>, Professor of Physics,
<a href="https://about.me/lorenabarba">Lorena Barba</a> and staff from
O'Reilly, who use Jupyter
<a href="https://www.oreilly.com/ideas/jupyter-at-oreilly">as a
publishing platform</a>.</p>

<p>As the session progressed it became clear notebooks record an interactive
and engaging record of the author's movement of thought. As Norvig demonstrated,
it's possible to change the code contained in a notebook and "poke it with a
stick" as it were. Readers get to follow the author's train of thought but also
pause and play with code to test their understanding of the concepts
contained therein. As code is modified outputs automatically update (i.e.
generated content within the notebook reacts to a reader's intervention).</p>

<p>I wondered how a teacher in the UK could use such a tool to deliver Python
lessons to children. Could Jupyter be used to create and share interactive
resources for the BBC micro:bit? I asked a few pointedly technical
questions and discovered the presentation and evaluation of notebooks
is separated. Presentation is done in a browser whereas evaluation of code is
done in a "kernel". "How hard is it to write a kernel?" I asked. "It's well
documented", answered an unsuspecting Fernando.</p>

<p>That afternoon I hacked together a new kernel to interact with a BBC
micro:bit. I was able to control the micro:bit attached to my laptop from
within a notebook in my browser. It took me about an hour and proved to be
remarkably simple. Later in the weekend I integrated the Jupyter Qt widget into
my <a href="https://github.com/ntoll/mu">Mu code editor</a> for children,
teachers and beginner programmers. Upon reflection, this is perhaps not the way
to go - I believe the web-based version of Jupyter is superior. Happily, it's
relatively easy to embed a browser into a Qt application like Mu so watch this
space! I'm giving a presentation at next weekend's Raspberry Pi birthday
conference about Mu, so I'll reveal what I've been up to as a part of my talk.
It'll be interesting to see what reaction I get - especially from teachers.</p>

<p>I was also intrigued by the Jupyter contribution from O'Reilly. They've
built some sort of authoring platform on top of Jupyter and gave a quick demo
of Norvig working his way through a problem. I asked if it was open source
to which the O'Reilly people responded that it wasn't. I pointed out that if
it wasn't then someone would be bound to copy and re-create it. I think there
was a bit of misunderstanding or crossed wires: perhaps the O'Reilly people
thought I was talking about their (excellent) content. I was actually referring
to the authoring platform they appear to have created on top of Jupyter. I
imagine teachers would have a fantastic time with such a tool. I know of
several secondary teachers in the UK who'd lap it up.</p>

<p>The other practical take-away from the conference was via a conversation
with an educator who used Google's Chromebooks. These cheap and simple laptop
computers are apparently very popular in schools in both the US and UK. "Can
I use my micro:bit with a Chromebook?" was their concern.</p>

<p>Why yes, is <a href="https://github.com/ntoll/python-native-editor">my
response</a>.</p>

<p>I've adapted the web-based editor I wrote for the "official" BBC website
and, via the magic of Chrome's serial API, added a REPL client so kids can
interactively program their devices.</p>

<p>:-)</p>

<p>Yet another highlight was breakfast on Sunday morning: I had a lot of fun
creating squishy circuits (they're made from a sort of dough) and had a
professor of electrical engineering from MIT show me how to make a simple LED
flashy thingamabob that makes a great light display in a dark room.</p>

<p><img src="/static/images/foo-squishy.jpg" alt="Squishy circuits"/></p>

<p>It's such fun to play!</p>

<p>Only 50% of the attendees are invited back. If I'm not, I'd love my
place to be taken by someone from the UK. If there's but one
criticism of the conference it is that it mainly involved people from the US.
There's a huge amount of innovation, experimentation and success happening in
education in the wider world. EdFoo could be a wonderful opportunity to bring
an international and diverse group of education pioneers together. Since I'm
making "moon on a stick" suggestions, my vote would be to hold it in Athens,
the home of Plato's Academy and Aristotle's Lyceum (but I'm biased because I'm
European and have a background in Philosophy).</p>

<p>Finally, sincere thanks to our hosts, Google, who did a magnificent job. I
was particularly amused by the available WiFi SSIDs. :-)</p>

<p><img src="/static/images/foo-wifi.png" alt="Google SSID"/></p>

<p><small>Image credits: Leonardo Notebook
&copy; <a href="http://www.britishmuseum.org/">Trustees of the British Museum</a>. The remainder were created by the author.
</small></p>
<p><a href="/articles">View all articles</a></p>
</div>
{% endblock content %}