<!DOCTYPE html>
<html>
    <head>
        <title>- oops -</title>
        <link rel="icon" type="image/x-icon"
            href="/static/images/favicon.ico"/>
        <link rel="stylesheet" href="/static/css/bsod.css"
            type="text/css" media="all" />
    </head>
    <body>
        <span class="neg">ERROR - NTOLL.ORG WENT BOOM!</span>
        <p>Hmmm, we're very sorry, but something appears to have gone wrong.
        Why not click your browser's back button and try again?</p>
        <p>If ntoll.org is still not working then you have several options:</p>
        <p>* <a href="mailto:ntoll@ntoll.org">Send me an email</a> about the
        problem.</p>
        <p>* Check my <a href="http://twitter.com/ntoll">Twitter
        account</a> for service status updates.</p>
        <p>* Press CTRL+ALT+DELETE to restart your computer. You will lose
        unsaved information in any programs that are running. (Only joking!
        Don't actually do this!)</p>
        Press any link to continue...<blink>_</blink>
        <div class="menu">
            <a href="/">home</a> |
            <a href="http://dynamic.xkcd.com/random/comic/">xkcd</a> |
            <a href="https://www.youtube.com/watch?v=iDbyYGrswtg">the internet</a>
        </div>
    </body>
</html>
